<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <!-- You might want a login.js file if you have login-specific JS -->
    <script src="../static/js/login.js" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="icon" href="./images/logo.png">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <section>
        <form action="@{/auth/login}" method="post" id="loginForm">
            <h1>Login</h1>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" name="email" required>
                <label for="">Email</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" name="password" required>
                <label for="">Password</label>
            </div>
            <button class="g-recaptcha btn btn-primary"
                    data-sitekey="6Ld1vWkrAAAAAL7AryLsJxx5lFh0P1svN9oglrts"
                    data-callback="onSubmit"
                    data-action="submit">Login</button>
            <div class="register">
                <p>Don't have an account? <a href="signup.html">Sign Up</a></p>
            </div>
        </form>
    </section>
    <script type="text/javascript">
        function onSubmit(token) {
            document.getElementById("loginForm").submit();
        }
    </script>
</body>
</html>
